<footer class="footer_dark bg_black4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bottom_footer border_top_tran">
                    <div class="row">
                        <div class="col-12">
                            <p class="copyright m-0 text-center">© 2022 Todos los derechos reservador por <a href="#"
                                    class="text_default">Carlos Ruiz</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>