<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body data-spy="scroll" data-target=".navbar-nav" data-offset="110">
    <header class="header_wrap fixed-top light_skin hover_menu_style3 transparent-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"> <span class="ion-android-menu"></span> </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <a class="navbar-brand page-scroll" href="#home_section">
                        <img class="logo_light" src="../../../assets/images/logo_white.png" alt="logo" />
                        <img class="logo_dark" src="../../../assets/images/logo_dark.png" alt="logo" />
                        <img class="logo_default" src="../../../assets/images/logo_dark.png" alt="logo" />
                    </a>

                    <ul class="navbar-nav">
                        <li>
                            <a class="nav-link page-scroll" routerLink="/home">Regresar a menu</a>
                        </li>
                        <li>
                            <a class="nav-link page-scroll" routerLink="list_about">CRUD Acérca</a>
                        </li>
                        <li>
                            <a class="nav-link page-scroll" routerLink="list_education">CRUD Educación</a>
                        </li>
                        <li>
                            <a class="nav-link page-scroll" routerLink="list_experience">CRUD Experiencia</a>
                        </li>
                        <li>
                            <a class="nav-link page-scroll" (click)="logout()">Log out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</body>