<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
	<section class="ftco-section">

		<div class="container">

			<div class="row justify-content-center">

				<div class="col-md-12 col-lg-10">

					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url(../../../assets/images/loginimg.svg);">
						</div>
						<div class="login-wrap p-4 p-md-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Sign In</h3>
								</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="https://www.facebook.com/profile.php?id=100022475910551"
											class="social-icon d-flex align-items-center justify-content-center"><span
												class="fa fa-facebook"></span></a>
										<a href="https://twitter.com/GenericStoreMx"
											class="social-icon d-flex align-items-center justify-content-center"><span
												class="fa fa-twitter"></span></a>
									</p>
								</div>
							</div>
							<form action="#" [formGroup]="formLogin">
								<div class="form-group mb-3">
									<label class="label" for="username">Username</label>
									<input type="text" class="form-control" id="username" formControlName="username">
								</div>
								<div class="form-group mb-3">
									<label class="label" for="password">Password</label>
									<input type="password" class="form-control" id="password"
										formControlName="password">
								</div>
								<div class="form-group">
									<button (click)="login()" type=""
										class="form-control btn btn-primary rounded submit px-3">Sign In</button>
								</div>
								<div class="form-group">
									<button routerLink="/home" type=""
										class="form-control btn btn-secundary submit px-3">Cancelar</button>
								</div>

								<div class="form-group d-md-flex">
									<!--<div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#">Forgot Password</a>
									</div>-->
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
</body>