body {
	background: #ffffff none repeat scroll 0 0;
    color: #888888;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
	-webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing:grayscale;
}
h1,h2,h3,h4,h5,h6 {
	color: #292b2c;
	font-family: "Montserrat", sans-serif;
}
p {
	color:#666666;
}
a {
	color: #292b2c;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	transition: all .5s ease;
}
a:hover {
	color: #27E278;
	text-decoration: none;
	transition: all .5s ease;
}
a:focus {
	outline: none;
	text-decoration: none;
}
img {
	max-width: 100%;
}
ul,li,ol {
	margin: 0;
	padding: 0;
}
fieldset {
	border: 0 none;
	margin: 0 auto;
	padding: 0;
}
input:focus,
textarea:focus {
	outline: none;
	box-shadow:  none !important;
}
section {
	padding: 100px 0;
	position:relative;
}
.no-padding { 
	padding: 0
}
section.small_pt,
.top_footer.small_pt {
	padding-top: 50px;
}
section.small_pb,
.top_footer.small_pb {
	padding-bottom: 50px;
}
.small_padding {
    padding: 30px;
}
.medium_padding {
    padding: 50px;
}
.large_padding {
    padding: 100px;
}
.small_divider {
	height: 30px;
}
.medium_divider {
	height: 50px;
}
.large_divider {
	height: 100px;
}
section.pb_20,.pb_20 {
	padding-bottom: 20px;
}
section.pb_70, .pb_70 {
    padding-bottom: 70px;
}
.padding_eight_all {
	padding: 8%;
}
.padding_eight_lr {
	padding: 0 8%;
}
.list_none li {
	list-style:none;
}
.order_list,
.disc_list {
	padding-left: 15px;
}
.btn:focus,.btn:hover,.btn.active {
	box-shadow: none;
	outline: medium none;
}
button:focus {
	outline:none;
}
.btn {
	border-width: 2px;
	cursor: pointer;
	text-transform: capitalize;
	transition: all 0.5s ease-in-out;
}
.btn.active:focus, .btn:active:focus {
	box-shadow: none !important;
}
.btn-default {
	background-color: #27E278;
	border: 2px solid #27E278;
	color: #ffffff !important;
	padding: 10px 30px;
}
.btn-default:hover {
	background-color: #27CE78;
	border-color: #27CE78;
	color: #fff;
}
.btn-white {
    background-color: #ffffff;
    border-color: #fff;
    color: #27CE78 !important;
    padding: 10px 30px;
}
.btn-white:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff !important;
}
.btn-black {
	border: 2px solid #333;
	background-color: #333;
	color: #ffffff;
	padding: 10px 30px;
}
.btn-black:hover {
	background-color: #ffffff;
	color: #333;
}
.btn-outline-white {
	background-color: transparent;
	border: 2px solid #ffffff;
	color: #ffffff;
	padding: 10px 30px;
}
.btn-outline-white:hover {
	background-color: #fff;
	color: #27CE78;
}
.btn-outline-black {
	background-color: transparent;
	border: 2px solid #333;
	color: #333;
	padding: 10px 30px;
}
.btn-outline-black:hover {
	background-color: #333;
	color: #fff;
}
.btn-outline-default {
	background-color: transparent;
	border: 2px solid #27E278;
	color: #27E278;
	padding: 10px 30px;
}
.btn-outline-default:hover {
	background-color: #27E278;
	color: #fff;
}
.btn-radius {
	border-radius: 40px;
}
.btn + .btn {
	margin-left: 10px;
}
.btn i {
	margin-left: 5px;
	font-size: 22px;
	vertical-align: middle;
	line-height: 1;
}
.btn span {
    font-size: 14px;
}
.btn-group-sm > .btn, .btn-sm {
    padding: 7px 15px;
}
.btn-group-lg > .btn, .btn-lg {
    padding: 14px 35px;
}
.btn-xs {
    padding: 4px 15px;
    font-size: 12px;
}
.btn-md {
    padding: 10px 30px;
    font-size: 16px;
}
.btn.btn-xs i {
    font-size: 12px;
}
.btn.btn-sm i {
    font-size: 16px;
}
.btn.btn-lg i {
    font-size: 28px;
}
.btn-aylen,
.btn-aylen2 {
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	z-index: 1;
}
.btn-aylen::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    -moz-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	transition: all 0.3s ease-in-out;
}
.btn-aylen:hover:before {
    -moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	z-index: -1;
}
.btn-default.btn-aylen:hover {
	color: #27E278 !important;
	z-index: 0;
}
.btn-aylen2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    -moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	transition: all 0.3s ease-in-out;
	z-index: -1;
}
.btn-aylen2:hover:before {
    -moz-transform: scale(0);
	-webkit-transform: scale(10);
	transform: scale(0);
}
.btn-horiz,.btn-horiz2 {
    position: relative;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}
.btn-horiz::before {
	border-radius: 4px;
    content: "";
    position: absolute;
    left: 50%;
    top: -2px;
    bottom: -2px;
    background-color: rgba(0,0,0,0.1);
    right: 50%;
	visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
.btn-horiz:hover::before {
    left: -2px;
    right: -2px;
	visibility: visible;
}
.btn-horiz2::before {
	border-radius: 3px;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #fff;
    right: 0px;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
.btn-horiz2:hover::before {
    left: 50%;
    right: 50%;
}
.btn-radius.btn-horiz::before, .btn-radius.btn-horiz2::before {
    border-radius: 40px;
}
.ripple {
	background-color: #27E278;
	border-radius: 100%;
	color: #fff;
	position: relative;
	display: inline-block;
	margin-right: 25px;
	line-height: 30px;
	font-size: 18px !important;
	vertical-align: middle;
	margin-left: 0;
	height: 30px;
    width: 30px;
	text-align: center;
}
.ripple::before,.ripple::after {
	 -webkit-animation: ripple 1.8s infinite ;
    -moz-animation: ripple 1.8s infinite ;
    -o-animation: ripple 1.8s infinite ;
    -ms-transition:ripple 1.8s infinite ;
	animation: ripple 1.8s infinite ;
	background-color: #27E278;
	border-radius: 100%;
	margin: -20px;
	bottom: 0px;
	content: "";
	display: block;
	left: 0px;
	opacity: 0;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index:-1;
}
.ripple::before {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
.ripple::after {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
@-webkit-keyframes ripple{
    0%{
        opacity:0;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    50%{
        opacity:0.5;
    }
	100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ripple{
    0%{
        opacity:0;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    50%{
        opacity:0.5;
    }
	100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}

.heading_s1 h1,.heading_s1 h2,.heading_s1 h3,.heading_s1 h4,.heading_s1 h5,.heading_s1 h6 {
	font-weight: 700;
	margin: 0;
	text-transform: capitalize;
}
.heading_s1 {
	margin-bottom: 30px;
}
.sub_title {
    color: #27E278;
    text-transform: capitalize;
    margin-bottom: 5px;
    display: block;
}
.heading_light > * {
	color: #fff;
}
.heading_uppercase h1,
.heading_uppercase h2,
.heading_uppercase h3,
.heading_uppercase h4,
.heading_uppercase h5,
.heading_uppercase h6,
.text_uppercase * {
	text-transform: uppercase;
}

.form-control,
.form-control:focus,
.custom-file-input:focus ~ .custom-file-label {
	color: #000;
	box-shadow: none;
}
.bg_default {
	background-color: #27E278;
}
.bg_gray {
	background-color: #F6F7FD;
}
.bg_light_gray {
	background-color: #f2f8fb;
}
.bg_light_gray2 {
	background-color: #DDE9FB;
}
.bg_blue {
	background-color: #27E278;
}
.bg_dark_blue {
	background-color: #0C468F;
}
.bg_dark_gray {
	background-color: #5C5C5C;
}
.bg_black {
	background-color: #000;
}
.bg_black2 {
	background-color: #0c0e27;
}
.bg_black3 {
	background-color: #252740;
}
.bg_black4 {
	background-color: #121833;
}
.border_dark {
	border-color: #333 !important;
}
.overlay_bg_90::before,
.overlay_bg_80::before,
.overlay_bg_70::before,
.overlay_bg_60::before,
.overlay_bg_50::before,
.overlay_bg_40::before,
.overlay_bg_30::before,
.overlay_bg_30::before,
.overlay_bg_20::before,
.overlay_bg_10::before,
.overlay_bg_dark_90:before,
.overlay_bg_dark_80:before,
.overlay_bg_dark_70:before,
.overlay_bg_dark_60:before,
.overlay_bg_dark_50:before,
.overlay_bg_dark_40:before,
.overlay_bg_dark_30:before,
.overlay_bg_dark_20:before,
.overlay_bg_dark_10:before,
.overlay_bg_default_90:before,
.overlay_bg_default_80:before,
.overlay_bg_default_70:before,
.overlay_bg_default_60:before,
.overlay_bg_default_50:before,
.overlay_bg_default_40:before,
.overlay_bg_default_30:before,
.overlay_bg_default_20:before,
.overlay_bg_default_10:before,
.overlay_bg_blue_90:before,
.overlay_bg_blue_80:before,
.overlay_bg_blue_70:before,
.overlay_bg_blue_60:before,
.overlay_bg_blue_50:before,
.overlay_bg_blue_40:before,
.overlay_bg_blue_30:before,
.overlay_bg_blue_20:before,
.overlay_bg_blue_10:before {
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
.overlay_bg_90::before {
	background-color: rgba(0, 0, 0, 0.90);
}
.overlay_bg_80::before {
	background-color: rgba(0, 0, 0, 0.80);
}
.overlay_bg_70::before {
	background-color: rgba(0, 0, 0, 0.70);
}
.overlay_bg_60::before {
	background-color: rgba(0, 0, 0, 0.60);
}
.overlay_bg_50::before {
	background-color: rgba(0, 0, 0, 0.50);
}
.overlay_bg_40::before {
	background-color: rgba(0, 0, 0, 0.40);
}
.overlay_bg_30::before {
	background-color: rgba(0, 0, 0, 0.30);
}
.overlay_bg_20::before {
	background-color: rgba(0, 0, 0, 0.20);
}
.overlay_bg_10::before {
	background-color: rgba(0, 0, 0, 0.10);
}
.overlay_bg_default_90:before {
	background-color: rgba(7, 215, 101, 0.90);
}
.overlay_bg_default_80:before {
	background-color: rgba(7, 215, 101, 0.80);
}
.overlay_bg_default_70:before {
	background-color: rgba(7, 215, 101, 0.70);
}
.overlay_bg_default_60:before {
	background-color: rgba(7, 215, 101, 0.60);
}
.overlay_bg_default_50:before {
	background-color: rgba(7, 215, 101, 0.50);
}
.overlay_bg_default_40:before {
	background-color: rgba(7, 215, 101, 0.40);
}
.overlay_bg_default_30:before {
	background-color: rgba(7, 215, 101, 0.30);
}
.overlay_bg_default_20:before {
	background-color: rgba(7, 215, 101, 0.20);
}
.overlay_bg_default_10:before {
	background-color: rgba(7, 215, 101, 0.10);
}
.overlay_bg_dark_90::before {
	background-color: rgba(47, 48, 60, 0.90);
}
.overlay_bg_dark_80::before {
	background-color: rgba(47, 48, 60, 0.80);
}
.overlay_bg_dark_70::before {
	background-color: rgba(47, 48, 60, 0.70);
}
.overlay_bg_dark_60::before {
	background-color: rgba(47, 48, 60, 0.60);
}
.overlay_bg_dark_50::before {
	background-color: rgba(47, 48, 60, 0.50);
}
.overlay_bg_dark_40::before {
	background-color: rgba(47, 48, 60, 0.40);
}
.overlay_bg_dark_30::before {
	background-color: rgba(47, 48, 60, 0.30);
}
.overlay_bg_dark_20::before {
	background-color: rgba(47, 48, 60, 0.20);
}
.overlay_bg_dark_10::before {
	background-color: rgba(47, 48, 60, 0.10);
}
.overlay_bg_blue_90::before {
	background-color: rgba(12, 14, 39, 0.90);
}
.overlay_bg_blue_80::before {
	background-color: rgba(12, 14, 39, 0.80);
}
.overlay_bg_blue_70::before {
	background-color: rgba(12, 14, 39, 0.70);
}
.overlay_bg_blue_60::before {
	background-color: rgba(12, 14, 39, 0.60);
}
.overlay_bg_blue_50::before {
	background-color: rgba(12, 14, 39, 0.50);
}
.overlay_bg_blue_40::before {
	background-color: rgba(12, 14, 39, 0.40);
}
.overlay_bg_blue_30::before {
	background-color: rgba(12, 14, 39, 0.30);
}
.overlay_bg_blue_20::before {
	background-color: rgba(12, 14, 39, 0.20);
}
.overlay_bg_blue_10::before {
	background-color: rgba(12, 14, 39, 0.10);
}
.text_white * {
	color: #fff;
}
.text_dark * {
	color: #333 !important;
}
.text_default {
	color: #27E278 !important;
}
.text_success {
	color: #42b574 !important;
}
.text_danger {
	color: #f54b0f !important;
}
.text_warning {
	color: #f5bf2f !important;
}
.highlight_txt {
	color: #333;
	font-style: italic;
	font-size: 18px;
	margin-bottom: 15px;
	display: block;
	font-weight: 500;
}
.overflow_hide {
	overflow: hidden;
}
.radius_box_10,
.radius_box_10:before {
	border-radius: 10px;
}
.radius_lb_10 {
	border-radius: 10px 0 0 10px;
}
.radius_rb_10 {
	border-radius: 0 10px 10px 0;
}
.radius_lbrb_10 {
	border-radius: 0 0 10px 10px;
}
.radius_ltrt_10 {
	border-radius: 10px 10px 0 0;
}
.box_shadow {
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.box_shadow2 {
	box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
.box_shadow3 {
	box-shadow: 0 0 10px rgba(0,0,0,0.10);
}
.box_shadow4 {
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.border_top_tran {
	border-top: 1px solid rgba(255,255,255,0.2);
}
.border_top_dash {
	border-top: 1px dashed rgba(255,255,255,0.2);
}
.border_bottom_tran {
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.scrollup {
    background-color: #4f4f4f;
    bottom: 20px;
    color: #ffffff;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 99;
}
.scrollup:hover {
	background-color: #27E278;
	color:#fff;
}
.scrollup:focus {
	color:#fff;
}

.preloader {
	background-color: #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
}
@-webkit-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
	transform: scale(0);
    opacity: 0; 
}
  5% {
    opacity: 1; 
}
  100% {
    -webkit-transform: scale(1);
	transform: scale(1);
    opacity: 0; 
} 
}

@keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
	transform: scale(0);
    opacity: 0; 
}
  5% {
    opacity: 1; 
}
  100% {
    -webkit-transform: scale(1);
	transform: scale(1);
    opacity: 0; 
} 
}

.ball-scale {
	position: relative;
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px); 
}
  .ball-scale > div:nth-child(2) {
    -webkit-animation-delay: -0.4s;
	animation-delay: -0.4s; 
}
  .ball-scale > div:nth-child(3) {
    -webkit-animation-delay: -0.2s;
	animation-delay: -0.2s; 
}
.ball-scale > div {
    background-color: #27E278;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
	animation-fill-mode: both;
    position: absolute;
    left: -30px;
    top: 0px;
    opacity: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    -webkit-animation: ball-scale 1s 0s linear infinite;
	animation: ball-scale 1s 0s linear infinite; 
}
			
.bg_size_auto {
    background-size: auto !important;
}
.bg_size_contain {
	background-size: contain !important;
}
.bg_norepeat {
    background-repeat: no-repeat !important;
}
.position_top_center {
    background-position: top center !important;
}
.position_center_bottom {
    background-position: center bottom !important;
}
.position_right_center {
    background-position: right center !important;
}
.position_right_bottom {
    background-position: right bottom !important;
}
.fixed_bg {
    background-attachment: fixed !important;
}
.font_style2 {
	font-family: 'Courgette', cursive;
}
.font_style3 {
	font-family: 'Great Vibes', cursive;
}

.icon_box,
.icon_box_content {
	position: relative;
}
.box_icon {
	position: relative;
	z-index: 1;
}
.box_icon i {
	font-size: 32px;
	position: relative;
	transition: all 0.5s ease-in-out;
}
.icon_box_content h1,
.icon_box_content h2,
.icon_box_content h3,
.icon_box_content h4,
.icon_box_content h5,
.icon_box_content h6 {
    font-weight: 600;
	margin-bottom: 15px;
}
.icon_box_content p:last-child {
	margin: 0;
}
.icon_box_style_5 {
	margin-top: 30px;
}
.icon_box_style_5 .box_icon i {
	color: #27E278;
	transition: none;
	font-size: 40px;
}
.icon_box_style_4 {
	padding: 30px;
	margin-top: 30px;
	border: 1px solid #ddd;
	transition: all 0.3s ease-in-out;
}
.icon_box_style_4:hover {
	border: 1px solid transparent;
	box-shadow: 0 0 15px rgba(0,0,0,0.10);
}
.icon_box_style_4 .box_icon i {
	color: #27E278;
	transition: none;
	font-size: 40px;
}
.icon_box_style_2 {
	background-color: #fff;
    padding: 30px;
    margin-top: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.10);
}
.icon_box_style_2:hover i {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
.icon_box_style_2 i,.icon_box_style_3 i {
	background-color: #27E278;
	border-radius: 100%;
	color: #ffffff;
	display: inline-block;
	height: 70px;
	line-height: 70px;
	width: 70px;
	text-align: center;
}
.icon_box_style_3 i::after {
	content: "";
	position: absolute;
	left: -5px;
	top: -5px;
	bottom: -5px;
	right: -5px;
	background-color: #27E278;
	border-radius: 100%;
	z-index: -1;
	opacity: 0.4;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	transition: all 0.5s ease-in-out;
}
.icon_box_style_3:hover i::after {
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.icon_box_style_3 {
	box-shadow: 0 0 10px rgba(0,0,0,0.05);
	background-color: #fff;
	padding: 30px;
	margin-top: 30px;
}
.icon_box_style_3 i {
    background-color: #27E278;
    border-radius: 100%;
    color: #ffffff;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    width: 70px;
    text-align: center;
}
.icon_box_style_1 {
	box-shadow: 0 0 10px rgba(0,0,0,0.05);
	background-color: #fff;
	padding: 30px;
	margin-top: 30px;
}
.icon_box_style_1:hover {
	background-color: #27E278;
}
.icon_box_style_1:hover .box_icon i,
.icon_box_style_1:hover * {
	color: #fff;
}
.icon_box_style_1 .box_icon i {
	color: #27E278;
	transition: none;
	font-size: 40px;
}
.box_dark.icon_box_style_1,
.box_dark.icon_box_style_3,
.box_dark.icon_box_style_2 {
    background-color: rgba(255,255,255,0.1);
}
.box_dark.icon_box_style_1:hover {
    background-color: #27E278;
}
.icon_box_style_4.box_dark:hover {
    background-color: rgba(255,255,255,0.1);
}